img{
    width: 32px;
}
li.opcion:hover{
    background-color: #CCC9D5;
}
.cabecera{
    background-color: #128c7e;
    text-align: center;
}
#tbMensaje{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}
li.msg{
    background-color: #D7D7DE;
    margin: 0px 5px 5px 5px;
    border-radius: 10px;
    width: 80%;
}
li.msgEmisor{
    background-color: #ade580;
    margin: 0px 5px 5px 5px;
    border-radius: 10px;
    width: 80%;
    float:right;
}
li.msgDestacado{
    background-color: #90ffff;
    margin: 0px 5px 5px 5px;
    border-radius: 10px;
    width: 98%;
    float:right;
}
strong.ms{
    font-size: 11px;
    color: #41005D;
}
#divMensajesBusqueda{
    background-image: url("../resources/fondowha.jpg");
    height: 100%;

}
#mensaje{
    width: 20%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}
#enviar{
    position: absolute;
    bottom: 0;
    margin-left:20.5%;
    height: 45px;

}
#cajaChat{
    position: relative;
    height: 85%;
    overflow: auto;
}
.link {
    font-size: 20px;
    color: #ece5dd;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    font-weight: bold;
}

.link--arrowed {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
}
.link--arrowed .arrow-icon {
    position: relative;
    top: -1px;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
}
.link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.link--arrowed:hover .arrow-icon {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
}
.link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}